h2 {
  text-align: center;
  padding: 5%;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

fieldset {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: clamp(15rem, 70%, 50rem);
  padding: 2rem;
  border: 1px solid var(--highlight-color-link-hover);
  border-radius: 2vmin;
  background-color: var(--section-background-color);
  box-shadow: 0 0 0.5rem 0.1rem var(--section-background-color);
}

.input-container {
  width: 100%;
}

@media screen and (min-width: 42em) {
  .input-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}

.form-field {
  position: relative;
  width: 100%;
}

label {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: all 0.2s ease-in-out;
}

.form-field:active label,
.form-field:focus-within label,
.form-field:has(input.ng-dirty) > label {
  top: -20%;
  left: 5%;
  transform: translate(0, 0);
  font-size: 0.8rem;
  color: var(--highlight-color-link-hover);
}

legend {
  padding-inline: 0.5rem;
}

.form-field > .error {
  position: absolute;
  bottom: -50%;
  left: 50%;
  transform: translate(-50%, 10%);
  transition: all 0.2s ease-in-out;
  font-size: 0.725rem;
}

.error > p {
  width: 100%;
}

input {
  width: 100%;
  padding: 0.5rem;
  border: none;
  border-bottom: 1px solid var(--main-txt-color);
  border-radius: 2vmin;
  background-color: var(--main-background-color);
  box-shadow: 0 0 0.5rem 0.1rem var(--section-background-color);
  text-align: center;
}

input:active,
input:focus {
  outline: none;
  border-bottom: 1px solid var(--highlight-color-link-hover);
}

input.ng-invalid.ng-dirty {
  border-bottom: 1px solid hsl(0, 100%, 50%);
}

input.ng-valid.ng-dirty {
  border-bottom: 1px solid hsl(120, 100%, 25%);
}

button {
  max-width: 60%;
  padding: 0.3rem 3rem;
  margin-top: 1rem;
  border: none;
  border-bottom: 1px solid var(--main-txt-color);
  border-radius: 2vmin;
  background-color: var(--main-background-color);
  box-shadow: 0 0 0.5rem 0.1rem var(--section-background-color);
  text-align: center;
}

button:disabled {
  border-bottom: 1px solid hsl(0, 100%, 50%);
}

button:enabled {
  border-bottom: 1px solid hsl(120, 100%, 25%);
}

@media screen and (max-width: 42em) {
  button {
    padding: 0.2rem 1rem;
  }
}
