<h1 class="fs-secondary__heading">Workers</h1>

<div class="search-container flex">
  <form>
    <fieldset>
      <legend>Search worker</legend>
      <input type="text" />
      <button type="submit">Search</button>
    </fieldset>
  </form>
</div>

<div class="shift-container">
  <table>
    <thead>
      <tr>
        <th>Email</th>
        <th>Username</th>
        <th>First name</th>
        <th>Last name</th>
        <th>Age</th>
        <th>Total shifts</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>email@email.com</td>
        <td>username</td>
        <td>John</td>
        <td>Smith</td>
        <td>30</td>
        <td>134</td>
      </tr>
    </tbody>
  </table>
</div>
