<h2 class="fs-secondary__heading">Reset password</h2>
<form [formGroup]="resetForm" (ngSubmit)="reset()">
  <fieldset class="flex-column flow">
    <mat-icon routerLink="/login">close</mat-icon>
    <legend>Reset password form</legend>

    <div class="input-container flex-column">
      <div class="form-field">
        <label for="password">New Password</label>
        <input
          type="password"
          #password
          autocomplete="new-password"
          formControlName="password"
          placeholder="New Password"
        />
        <app-show-password></app-show-password>
        <div
          *ngIf="
            !passwordValid && (f['password'].dirty || f['password'].touched)
          "
          class="error"
        >
          <p
            *ngIf="!requireValid"
            [class.invalid]="!requireValid && f['password'].dirty"
          >
            Required
          </p>
          <p *ngIf="!minLengthValid">Min 6 characters</p>
          <p *ngIf="!maxLengthValid">Max 20 characters</p>
          <p *ngIf="!hasNumberValid">At least 1 number</p>
          <p *ngIf="!hasCapitalCaseValid">At least 1 uppercase</p>
          <p *ngIf="!hasSmallCaseValid">At least 1 lowercase</p>
          <p *ngIf="!hasSpecialCharactersValid">At least 1 special character</p>
        </div>
      </div>

      <div class="form-field">
        <label for="password">Confirm password</label>
        <input
          type="password"
          #confirmPassword
          autocomplete="new-password"
          formControlName="confirmPassword"
          placeholder="Confirm password"
        />
        <app-show-password></app-show-password>
        <div
          *ngIf="
            !confirmPasswordValid &&
            (f['confirmPassword'].dirty || f['confirmPassword'].touched)
          "
          class="error"
        >
          <p
            *ngIf="f['confirmPassword'].errors?.['required']"
            [class.invalid]="!requireValid && f['confirmPassword'].dirty"
          >
            Required
          </p>
          <p *ngIf="f['confirmPassword'].errors?.['minLength']">
            Min 6 characters
          </p>
          <p
            *ngIf="
            f['confirmPassword'].errors?.['misMatch'] &&
            f['confirmPassword'].dirty
            "
            [class.invalid]="true"
          >
            Passwords must match
          </p>
        </div>
      </div>
    </div>
    <button type="submit" [disabled]="!resetForm.valid">Reset</button>
  </fieldset>
</form>
