.input-container {
  flex-direction: column !important;
}

fieldset {
  position: relative;
  width: clamp(17rem, 40%, 30rem) !important;
}

mat-icon {
  position: absolute;
  top: -0.1rem;
  right: 0.7rem;
  cursor: pointer;
  background-color: var(--main-background-color);
  border-radius: 50%;
}

mat-icon:hover {
  background-color: var(--highlight-color);
}
