<h3>Past shifts Week:</h3>
<div class="shift-container">
  <table>
    <thead>
      <tr>
        <th>Shift date</th>
        <th>Shift start</th>
        <th>Shift end</th>
        <th>Price / h</th>
        <th>Shift location</th>
        <th>Shift wage</th>
        <th>Worker</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>shift.date</td>
        <td>shift.start</td>
        <td>shift.end</td>
        <td>Income / h</td>
        <td>shift.location</td>
        <td>shift.wage</td>
        <td>worker name</td>
      </tr>
    </tbody>
  </table>
</div>
