<h3>Past shifts Week No. {{ week | date : "w" }}</h3>
<div class="shift-container flex-column">
  <table *ngIf="pastShifts.length > 0">
    <thead>
      <tr>
        <th>No.</th>
        <th>Shift date</th>
        <th>Start time</th>
        <th>End time</th>
        <th>Wage / h</th>
        <th>Location</th>
        <th>Income</th>
      </tr>
    </thead>
    <tbody>
      <tr
        *ngFor="let shift of pastShifts; let i = index"
        (click)="setShiftToEdit(shift.uniqueName)"
        routerLink="/edit/{{ shift.uniqueName }}"
      >
        <td>{{ i + 1 }}</td>
        <td>{{ shift.startDate }}</td>
        <td>{{ shift.startTime }}</td>
        <td>{{ shift.endTime }}</td>
        <td>{{ shift.wage | currency }}</td>
        <td>{{ shift.location }}</td>
        <td>{{ shift.totalShiftWage() | currency }}</td>
      </tr>
    </tbody>
  </table>
  <p *ngIf="pastShifts.length < 1">No shifts recorded last week</p>
</div>
