.chart-container {
  position: relative;
  width: 80%;
  background: var(--section-background-color);
  padding: 1rem 2rem;
  border-radius: 5% 0;
}

@media screen and (max-width: 41.99em) {
  .chart-container {
    width: 99%;
  }
}

p {
  text-align: center;
  font-size: 1.5rem;
  border-bottom: 2px solid rgba(223, 70, 70, 0.788);
  border-radius: 10%;
}
