<h1 class="fs-secondary__heading">Profile</h1>
<div class="header-container flex">
  <h2 class="fs-secondary__heading">
    {{ dbUser.firstName | titlecase }} {{ dbUser.lastName | titlecase }}
  </h2>
  <button type="button" routerLink="./shifts">Shifts</button>
</div>

<section>
  <div class="flex-column motivation-container">
    <h2 class="fs-secondary__heading">$1mil motivation</h2>
    <p>
      Gained: <span>{{ totalIncome | currency }}</span>
    </p>
    <mat-progress-bar
      mode="buffer"
      [value]="(totalIncome / 1000000) * 100"
      [bufferValue]="((totalIncome + incomeFutureShifts) / 1000000) * 100"
      color="warn"
    ></mat-progress-bar>
    <p>
      Income from future Shifts:
      <span>{{ incomeFutureShifts | currency }}</span>
    </p>
  </div>
</section>

<section class="flex-column edit-profile_section">
  <div class="data-container flex-column flow">
    <div class="data-container__info flow">
      <p class="flex">
        Account created at: <span>{{ user?.metadata?.creationTime }}</span>
      </p>
      <p class="flex">
        Last sign in: <span>{{ user?.metadata?.lastSignInTime }}</span>
      </p>
      <p class="flex wrap">
        Email: <span>{{ user?.email }}</span>
        <a routerLink="edit/email">Change</a>
      </p>
      <p class="flex">
        Email verified: <span>{{ user?.emailVerified }}</span>
      </p>
      <p class="flex">
        Name:
        <span
          >{{ dbUser.firstName | titlecase }}
          {{ dbUser.lastName | titlecase }}</span
        >
        <a routerLink="edit/name">Change</a>
      </p>
      <p class="flex">
        Username: <span>{{ dbUser.username }}</span>
      </p>
      <p class="flex">
        Password: <span>********</span> <a routerLink="edit/password">Change</a>
      </p>
      <p class="flex">
        Age: <span>{{ dbUser.age }}</span> <a routerLink="edit/age">Change</a>
      </p>
    </div>
    <div class="chart-container">
      <p *ngIf="pastWeekShifts.length === 0">0h worked last week</p>
      <canvas id="hoursChart">{{ chart }}</canvas>
    </div>
  </div>

  <button type="submit" class="delete-button" (click)="openDialog()">
    Delete user
  </button>
</section>
