h1 {
  text-indent: 2rem;
  margin: 1rem 0;
}

.header-container {
  position: relative;
}

.close-button {
  position: absolute;
  right: 1rem;
  top: 20%;
  padding: 0.1rem 0.7rem;
  font-size: var(--fs-600);
  border: none;
  border-radius: 2vmin;
  background-color: var(--section-background-color);
  box-shadow: 0 0 0.5rem 0.1rem var(--section-background-color);
}

.close-button:hover {
  background-color: hsla(0, 100%, 20%, 0.9);
}
