<div class="header-container flex">
  <h1 class="fs-secondary__heading">
    {{ firstName | titlecase }} {{ lastName | titlecase }} shifts
  </h1>
  <mat-icon routerLink="../">close</mat-icon>
</div>
<div class="search-container flex">
  <form
    (ngSubmit)="
      searchByDate(startDate.value, endDate.value);
      startDate.value = '';
      endDate.value = ''
    "
  >
    <fieldset>
      <legend>Search by date</legend>
      <span>From: </span>
      <input type="date" #startDate />
      <span>to: </span>
      <input type="date" #endDate />
      <button type="submit">Search</button>
    </fieldset>
  </form>

  <form (ngSubmit)="searchByLocation(location.value); location.value = ''">
    <fieldset>
      <legend>Search by location</legend>
      <input type="text" placeholder="Location" #location />
      <button type="submit">Search</button>
    </fieldset>
  </form>
</div>

<div class="shift-container flex-column">
  <p *ngIf="fromDate && toDate">Shifts between {{ fromDate }} - {{ toDate }}</p>
  <p *ngIf="locationTerm">Results with {{ locationTerm | uppercase }}</p>
  <table>
    <thead>
      <tr>
        <th>No.</th>
        <th>Shift date</th>
        <th>Shift start</th>
        <th>Shift end</th>
        <th>Price / h</th>
        <th>Shift location</th>
        <th>Profit</th>
      </tr>
    </thead>
    <tbody>
      <tr
        *ngFor="let shift of shifts; let i = index"
        routerLink="/admin/shifts/edit/{{ shift.uniqueName }}"
        (click)="setShiftToEdit(shift.uniqueName)"
      >
        <td>{{ i + 1 }}</td>
        <td>{{ shift.startDate }}</td>
        <td>{{ shift.startTime }}</td>
        <td>{{ shift.endTime }}</td>
        <td>{{ shift.wage | currency }}</td>
        <td>{{ shift.location }}</td>
        <td>{{ shift.totalShiftWage() | currency }}</td>
      </tr>
    </tbody>
  </table>
</div>
