h1 {
  text-indent: 2rem;
  margin: 1rem 0;
}

.header-container {
  position: relative;
}

mat-icon {
  position: absolute;
  top: 1.5rem;
  right: 1rem;
  cursor: pointer;
  background-color: var(--section-background-color);
  border-radius: 50%;
}

mat-icon:hover {
  background-color: var(--highlight-color);
}
