h1 {
  text-indent: 2rem;
  margin: 1rem 0;
}

p {
  text-align: center;
}

.form-field {
  margin-top: 2rem;
}

fieldset {
  position: relative;
  max-width: max-content;
}

mat-icon {
  position: absolute;
  top: -0.1rem;
  right: 0.7rem;
  cursor: pointer;
  background-color: var(--main-background-color);
  border-radius: 50%;
}

mat-icon:hover {
  background-color: var(--highlight-color);
}
