<div class="flex header-container">
  <h1 class="fs-secondary__heading">Reset password</h1>
</div>
<form [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit(email.value)">
  <fieldset>
    <mat-icon routerLink="/login">close</mat-icon>
    <legend>Reset form</legend>
    <p>You forgot your password?</p>
    <p>
      {{ message }}
    </p>
    <div class="form-field">
      <label for="email">Enter your email</label>
      <input type="email" placeholder="Email" formControlName="email" #email />
      <div
        *ngIf="
          forgotPasswordForm.controls['email'].invalid &&
          (forgotPasswordForm.controls['email'].dirty ||
            forgotPasswordForm.controls['email'].touched)
        "
        class="error"
      >
        <p *ngIf="forgotPasswordForm.controls['email'].errors?.['required']">
          Required
        </p>
        <p *ngIf="forgotPasswordForm.controls['email'].errors?.['email']">
          Enter a valid email
        </p>
      </div>
    </div>
  </fieldset>
  <button type="submit" [disabled]="forgotPasswordForm.invalid">Send</button>
</form>
